*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: #fff;
}

.form-container{
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.actionBtn{
    position: absolute;
    top: 5%;
    right: 5%;
    cursor: pointer;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #b0b0b0;
    border-radius: 50px;
    transition: all 0.5s ease;
    z-index: 100;
}

.actionBtn a{
    padding: 12px;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;
    color: #000;
    transition: all 0.5s ease;
}

.actionBtn:hover{
    border: 1px solid #0808cc;
}

.actionBtn:hover > a{
    color: #0808cc;
}

#form-header{
    font-family: "Poppins";
    color: #000;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;
}

.form-wrapper {
    width: 390px;
    padding: 40px 10px 20px 10px;
    border: 1px solid #ececec;
    border-radius: 10px;
}

.form-wrapper .input-wrapper{
    position: relative;
    width: 100%;
    margin-bottom: 18px;
    font-family: Poppins;
    display: flex;
    flex-direction: column;
}

.input-wrapper input{
    width: 100%;
    outline: none;
    border: 1px solid #cfcfcf;
    border-radius: 6px;
    padding: 14px 8px;
    font-size: 14px;
    font-weight: 520;
}

.input-wrapper label{
    position: absolute;
    top: 13px;
    padding: 0 10px;
    color: #666;
    font-size: 14px;
    font-weight: 480;
    pointer-events:  none;
    transition: all 0.5s ease;
}

.input-wrapper input:focus,
.input-wrapper input:valid{
    border: 1px solid #0808cc;
}

.input-wrapper input:focus + label,
.input-wrapper input:valid + label{
   transform: translate(10px, -20px);
   font-size: 10px;
   padding: 2px 6px;
   background-color: #fff;
}

#submitBtn{
    width: 60%;
    margin-left: 20%;
    margin-top: 15px;
    cursor: pointer;
    color: #fff;
    font-weight: 540;
    background-color: #0808cc;
    transition: all 0.5s ease;
}

#submitBtn:hover{
    background-color: #0a0ae1;
}
